doctype html
html
  head
    script.
      var type_id="#{type_id}";
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 360 Backend
    link(href='/useradmin/css/bootstrap.min.css', rel='stylesheet')
    link(href='/useradmin/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='/useradmin/css/plugins/iCheck/custom.css', rel='stylesheet')
    link(href='/useradmin/css/animate.css', rel='stylesheet')
    link(href='/useradmin/css/style.css', rel='stylesheet')
    link(href='/useradmin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css', rel='stylesheet')
  body
    #wrapper
      nav.navbar-default.navbar-static-side(role='navigation')
        .sidebar-collapse
          ul#side-menu.nav.metismenu
            li.nav-header
              a(href='/home')
                .dropdown.profile-element
                  h1(style='color: #fff; font-weight: 700; text-align: center;') 360
                .logo-element
                  | 360
            li
              a(href='#')
                i.fa.fa-building
                span.nav-label Property Upload
                span.fa.arrow
              ul.nav.nav-second-level.collapse
                li
                  a(href='/admin/properties') List Property
                li
                  a(href='/admin/propertytypes') Property Type
                li
                  a(href='/admin/tags') Search Tags
                li
                  a(href='/admin/amenities') Amenities
            li
              a(href='/admin/vrupload')
                i.fa.fa-tripadvisor
                span.nav-label VR Upload
            li
              a(href='/admin/blog')
                i.fa.fa-rss-square
                span.nav-label Blog
            li
              a(href='#')
                i.fa.fa-search-plus
                span.nav-label Enquiries
                span.fa.arrow
              ul.nav.nav-second-level.collapse
                li
                  a(href='/admin/propertyenquiry') Customer Enquiries
                li
                  a(href='/admin/shootenquiry') 360 shoot Enquiries
            li
              a(href='/admin/users')
                i.fa.fa-user
                span.nav-label Admin Accounts
            li
              a(href='#')
                i.fa.fa-files-o
                span.nav-label Other Pages
                span.fa.arrow
              ul.nav.nav-second-level.collapse
                li
                  a(href='/admin/social') Social
                li
                  a(href='/admin/terms') T & C
            li
              a(href='/admin/settings')
                i.fa.fa-cog
                span.nav-label Settings
      #page-wrapper.gray-bg
        .row.border-bottom
          nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
            .navbar-header
              a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                i.fa.fa-bars
            ul.nav.navbar-top-links.navbar-right
              li
                a(href='/admin/login')
                  i.fa.fa-sign-out
                  |  Log out
        .row.wrapper.border-bottom.white-bg.page-heading
          .col-lg-10
            h2
              strong Edit Amenity Sections
            ol.breadcrumb
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item
                a(href='/admin/amenities') Amenity List
              li.breadcrumb-item.active
                strong Edit Amenity
        .row
          .col-lg-12
            .ibox
              .ibox-title
                h5
                  strong Amenity Info:
              .ibox-content
                form#fileUploadForm(action='javascript:void(0)', enctype='multipart/form-data')
                  .form-group.row
                    label.col-sm-2.col-form-label Name:
                    .col-sm-10
                      input#amenities_name.form-control(name='amenityname', type='text', placeholder='Enter Name')
                  .hr-line-dashed
                  .form-group.row
                    label.col-sm-2.col-form-label Image:
                    #amenityimage.col-sm-10
                      input.form-control(type='file', name='photo')
                  .hr-line-dashed
                  .form-group.row
                    label.col-sm-2.col-form-label Image Alt Tag :
                    .col-sm-10
                      input#image_tag.form-control(type='text', name='imageTag', placeholder='Enter Image Alt Tag')
                  .hr-line-dashed
                  .form-group.row
                    .col-sm-4.col-sm-offset-2
                      button#form_submit_button.btn.btn-primary.btn-sm(type='submit', onclick='saveAmenities()') Save changes
                      button.btn.btn-white.btn-sm(type='reset', onclick='this.form.reset()') Cancel
                #alert_placeholder
    // Mainly scripts
    script(src='/useradmin/js/jquery-3.1.1.min.js')
    script(src='/useradmin/js/popper.min.js')
    script(src='/useradmin/js/bootstrap.js')
    script(src='/useradmin/js/plugins/metisMenu/jquery.metisMenu.js')
    script(src='/useradmin/js/plugins/slimscroll/jquery.slimscroll.min.js')
    // Custom and plugin javascript
    script(src='/useradmin/js/inspinia.js')
    script(src='/useradmin/js/plugins/pace/pace.min.js')
    // iCheck
    script(src='/useradmin/js/plugins/iCheck/icheck.min.js')
    script(src='/useradmin/amenities/createupdate.js')
